/*** RESET ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** GLOBAL ***/
body {
    height: 100vh;
}

img {
    display: block;
    width: 100%;
}

/*** MAIN ***/
main {
    height: calc(100% - 90px);
    width: 100%;
    display: flex;
}

main .container {
    flex-grow: 1;
}

#control-bar {
    width: 55px;
    flex-shrink: 0;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#control-bar .spotify .logo-big,
#control-bar .actions li span,
#control-bar .playlists,
#control-bar .download span,
#control-bar .user span,
#control-bar .control-foot hr {
    display: none;
}

#main-header {
    height: 90px;
    background-color: #10151b;
}

#main-body {
    height: calc(100% - 90px);
    background-color: #151922;
}

/*** FOOTER ***/
footer {
    height: 90px;
    background-color: #282828;
}




/* DEBUG */

body {
    background-color: yellowgreen;
}

main {
    background-color: aquamarine;
}