/*** RESET ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** GLOBAL ***/
body {
    height: 100vh;
}

img {
    display: block;
    width: 100%;
}

/*** MAIN ***/
main {
    height: calc(100% - 90px);
    width: 100%;
    display: flex;
}

main .container {
    flex-grow: 1;
}

#control-bar {
    width: 55px;
    flex-shrink: 0;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 13px 13px 20px; */
    /* align-items: center; */
}

#control-bar .spotify {
    padding: 13px;
    margin-bottom: 15px;
}

#control-bar .actions li {
    list-style-type: none;
    padding: 0 13px;
    border: 2px solid #000000;
    margin-bottom: 10px;
    opacity: 50%;
    max-width: 100px;
}

#control-bar .actions li.home {
    border-left: 2px solid #b1f747;
}

#control-bar .download {
    margin: 0 auto 15px;
    max-width: 26px;
    opacity: 60%;
}

#control-bar .user {
    padding: 0 13px 20px;
}

#control-bar .user img {
    background-color: #666666;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#control-bar .spotify .logo-big,
#control-bar .actions li span,
#control-bar .playlists,
#control-bar .download span,
#control-bar .user span,
#control-bar .control-foot hr {
    display: none;
}

#main-header {
    height: 90px;
    background-color: #10151b;
}

#main-body {
    height: calc(100% - 90px);
    background-color: #151922;
}

/*** FOOTER ***/
footer {
    height: 90px;
    background-color: #282828;
}