/*** RESET ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** GLOBAL ***/
body {
    height: 100vh;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
}

img {
    display: block;
    width: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
}

li {
    list-style-type: none;
}

button {
    all: unset;
}

button:hover {
    cursor: pointer;
}

/*** CONTENITORE LARGE ***/

/* CONTOL BAR */
.container-lg {
    height: calc(100% - 90px);
    width: 100%;
    display: flex;
}

#control-bar {
    flex-shrink: 0;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

#control-bar li img {
    width: 25px;
}

/* logo */
#control-bar .spotify {
    padding: 13px 13px 0;
    margin-bottom: 15px;
}

#control-bar .spotify img {
    width: 28px;
}

/* menu */
#control-bar .actions {
    width: 100%;
}

#control-bar .actions ul {
    width: 100%;
}

#control-bar .actions li {
    padding: 5px 13px;
    border: 2px solid transparent;
    opacity: 50%;
    width: 100%;
}

/* #control-bar .actions li:hover {
    border-left: 2px solid #b1f747;
} */

#control-bar .actions li img {
    max-width: 70px;
}

#control-bar .actions li.home {
    border-left: 2px solid #b1f747;
}

/* playlist */
#control-bar .playlists {
    padding: 25px 20px;
}

#control-bar .playlists .button {
    margin-bottom: 20px;
}

#control-bar .playlists h4 {
    text-transform: uppercase;
    margin-bottom: 15px;
}

#control-bar .playlists .button .add {
    display: inline-block;
    padding: 15px;
    background-color: #ffffff;
    color: #000000;
}

#control-bar .playlists li {
    margin-bottom: 20px;
}

#control-bar .playlists .button,
#control-bar .playlists ul li,
#control-bar .download,
#main-header,
#top-menu li,
main h4,
main h5,
footer .track-info h4,
footer .track-info .favorites button {
    opacity: 60%;
}

/* piede della barra di controllo */
/* download */
#control-bar .download {
    margin-top: auto;
    padding: 20px 13px;
}

#control-bar .download img {
    width: 25px;
    height: 25px;
}

/* profilo */
#control-bar .user {
    padding: 0 13px 20px;
}

#control-bar .user img {
    background-color: #666666;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

/* elementi nascosti */
#control-bar .spotify .logo-big,
#control-bar .actions li span,
#control-bar .playlists,
#control-bar .download span,
#control-bar .user span {
    display: none;
}

/* MAIN */
main {
    flex-grow: 1;
    color: #ffffff;
    background-color: #151922;
    font-size: 12px;
    overflow: auto;
}

/* header */
#main-header {
    background-color: #000000;
    padding: 20px;
    height: 90px;
    padding-left: auto;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}

#main-header .upgrade {
    display: block;
    width: fit-content;
    padding: 13px 40px;
    border: 1px solid #ffffff;
    margin-left: auto;
    border-radius: 40px;
    text-transform: uppercase;
}

/* contenuto principale */
/* menu superiore */
#top-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

#top-menu li a {
    text-transform: uppercase;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-menu li a::after {
    content: '';
    display: none;
    width: 30px;
    height: 2px;
    background-color: #b1f747;
}

#top-menu li.highlight a::after {
    display: inline-block;
}

/* sezioni */
main h2 {
    margin-bottom: 10px;
    font-size: 26px;
}

main h5 {
    font-size: 16px;
}

main .section-title {
    margin-bottom: 25px;
}

main .collection {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
}

main section {
    padding: 20px 30px 20px 20px;
}

main .album {
    text-align: center;
    margin: 5px;
    width: calc(100% / 2 - 10px);
    flex-shrink: 0;
}

main .album img {
    margin-bottom: 18px;
}

main .album h3 {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 16px;
}

main .artist .album img {
    border-radius: 50%;
}

/* hover immagini */
main .album .img-container {
    position: relative;
}

main .album .img-container .album-hover {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    opacity: 40%;
    display: none;
}

main .artist .album .img-container .album-hover {
    border-radius: 50%;
}

main .album .img-container:hover .album-hover {
    display: flex;
}

/* hover link e bottoni */
#control-bar .actions li:hover,
#control-bar .playlists .button:hover,
#control-bar .playlists ul li:hover,
#control-bar .download:hover,
#top-menu li:hover {
    opacity: 100%;
}

#main-header .upgrade:hover {
    font-size: 14px;
}

/* elementi nascosti */
main .for-you .collection h4,
main .artist .collection h4 {
    display: none;
}

/*** FOOTER ***/
footer {
    height: 90px;
    background-color: #282828;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 10px;
}

footer .bar {
    position: relative;
}

footer .bar::after {
    content: '';
    display: inline-block;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
}

/* track info */
footer .track-info {
    display: flex;
    align-items: center;
    font-size: 13px;
    width: 150px;
}

footer .track-info .play-title {
    padding: 10px;
    overflow-x: hidden;
}

footer .track-info img {
    max-width: 28px;
}

footer .track-info h4 {
    font-size: 11px;
}

footer .track-info .favorites {
    margin-left: 12px;
}

footer .track-info .favorites button:first-child {
    display: block;
    margin-bottom: 5px;
}

/* media */
footer .media {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: flex-start;
    min-width: 190px;
}

#track-controls {
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    width: 190px;
}

#play {
    font-size: 30px;
    padding: 1px 10px;
}

#track-bar {
    font-size: 11px;
    display: flex;
    align-items: center;
    gap: 5%;
}

#track-bar .bar {
    flex-grow: 1;
    height: 4px;
    background-color: #5a5a5a;
}

#track-bar .bar::after {
    width: 70px;
}

/* device options */
footer .device-options {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    width: 150px;
}

footer .device-options .volume-slider {
    width: 85px;
    height: 4px;
    background-color: #5a5a5a;
}

footer .device-options .volume-slider::after {
    width: 40px;
}

/* FOOTER hover link e pulsanti */
footer .track-info h4:hover,
footer .track-info .favorites button:hover {
    opacity: 100%;
}

footer .track-info a:hover {
    text-decoration: underline;
}

#play:hover {
    font-size: 32px;
    padding: 0 9px;
}

footer .bar:hover {
    cursor: pointer;
}

footer .bar:hover::after{
    background-color: #b1f747;
}


/* footer .bar:hover .bar::after {
    display: inline-block;
} */

/*** MEDIA QUERY ***/
/* small */
@media screen and (min-width: 576px) {

    /* BARRA DI CONTROLLO LATERALE */
    #control-bar {
        width: 230px;
        align-items: flex-start;
    }

    #control-bar img {
        display: inline-block;
    }

    #control-bar img,
    #control-bar span {
        vertical-align: middle;
    }

    /* logo */
    #control-bar .spotify {
        padding: 20px;
    }

    #control-bar .spotify img {
        width: 130px;
    }

    #control-bar .spotify .logo-small {
        display: none;
    }

    /* menu */
    #control-bar .actions li {
        padding: 5px 20px;
        border: 2px solid #000000;
        opacity: 50%;
        width: 100%;
    }

    /* download */
    #control-bar .download {
        padding: 0 20px 10px;
    }

    #control-bar .download img {
        width: 15px;
    }

    #control-bar hr {
        width: 190px;
        margin: 0 auto;
    }

    /* profilo */
    #control-bar .user {
        padding: 14px 20px 7px;
    }

    #control-bar .user img {
        height: 25px;
        width: 25px;
    }

    /* FOOTER */
    /* track-info */
    footer .track-info {
        width: 180px;
    }
    footer .track-info img {
        max-width: 38px;
    }

    footer .track-info .favorites {
        margin-left: 17px;
    }

    /* device options */
    footer .device-options {
        gap: 10px;
        width: 180px;
    }

    footer .device-options .volume-slider {
        width: 105px;
    }

    /* elementi nascosti */
    #control-bar .spotify .logo-big,
    #control-bar .actions li span,
    #control-bar .playlists,
    #control-bar .download span,
    #control-bar .user span {
        display: initial;
    }

}

/* medium */
@media screen and (min-width: 768px) {

    main .album {
        width: calc(100% / 4 - 10px);
    }

    /* FOOTER */
    /* track-info */
    footer .track-info {
        width: 210px;
    }

    footer .track-info img {
        max-width: 42px;
    }

    footer .track-info .play-title {
        padding: 12px;
    }

    footer .track-info .favorites {
        margin-left: 30px;
    }

    footer .track-info .favorites button:first-child {
        display: inline-block;
        margin-right: 12px;
    }

    /* device options */
    footer .device-options {
        gap: 15px;
        width: 210px;
    }

    footer .device-options .volume-slider {
        width: 120px;
    }

}

/* large */
@media screen and (min-width: 992px) {

    main .album {
        width: calc(100% / 6 - 10px);
    }

}


/* DEBUG */
